mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add {
  display: flex;
  flex-direction: row;
}
table {
  width: 100%;
}
.done {
  background-image: linear-gradient(black, black);
  background-size: 100% 2px, 2px 100%;
  background-position: right;
  background-repeat: no-repeat;
}
.detail {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
